$TTL    1D
@       IN      SOA     prdx-nsprimary301.ziyotek3.local. root.prdx-nsprimary301.ziyotek3.local. (
                        2017100100
                        1D
                        1H
                        1W
                        3H )

           IN      NS      prdx-nsprimary301.ziyotek3.local.
           IN      NS      prdx-nsworker302.ziyotek3.local.

12         IN      PTR     prdx-nsprimary301.ziyotek3.local.
13        IN      PTR     prdx-nsworker302.ziyotek3.local.

10         IN      PTR     prdx-ntp301.ziyotek3.local.